@{
    ViewBag.Title = "About";
}


<div id="branding" class="light" style="background-image: url(/Assets/images/slider-main-bg.jpg);">
    <div class="container fx clearifx">

        <!-- begin .title-header -->
        <div class="title-header">

        </div>
        <!-- end .title-header -->
        <!-- begin .breadcrumb -->
        <!-- end .breadcrumb -->

    </div>
</div>

<div class="sticky-start"></div>

<div id="content" class="site-content content-builder">
    <div class="container">
        <div class="row row-content">

            <!-- begin #primary -->
            <div id="primary" class="content-area col-md-8">
                <!-- begin #main -->
                <main id="main" class="site-main" role="main">



                    <!-- begin #post-## -->
                    <article id="post-72" class="post-72 page type-page status-publish hentry">

                        <!-- begin .entry-content -->
                        <div class="entry-content">
                            <div id="pl-72">

                                <div class="panel-grid" id="pg-72-3" style="width: 1263px; margin-left: -31.5px; margin-right: -31.5px;">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <div class="so-panel widget widget_vr_text panel-first-child panel-last-child" id="panel-72-3-0-0">
                                                <article class="text clearfix fadeInLeft fx-end" data-animation="fadeInLeft">
                                                    <article class="text clearfix " style="max-width: 560px;float:right;padding:60px 40px 0 40px;text-align:center;">
                                                        <h3 class="widget-title-big">CEO Message</h3>
                                                        <article class="quote-big clearfix">
                                                            <blockquote>
                                                                <p style="font-size:small"><i class="fa fa-quote-left"></i>Mr Azhar says Wisconsys Software Technologies comprises a team of experienced  Web Developers, Graphic Designers, Web Engineers and Testing personnel working around the globe in different time zones. Our sophisticated Web development and Business Solutions bring you peace of mind while we handle everything for you using our client-focused solutions and Services.
Reduce Cost, achieve efficiency with the benefit of integration. We design our solutions keeping in mind distinctive demands of each industry for quicker decision making combined with the ease of use.<i class="fa fa-quote-right"></i></p>
                                                            </blockquote>
                                                        </article>
                                                    </article>
                                                </article>

                                            </div>
                                        </div>

                                        <div class="col-md-6 pull-right" id="pgc-72-3-1" style="min-height:420px;background-image: url(/Assets/images/content_big_02.jpg);background-size: cover;">
                                            @*<div class="so-panel widget widget_vr_text panel-first-child panel-last-child" id="panel-72-3-1-0">
                                                    <div style="min-height:420px;background-image: url(/Assets/images/content_big_02.jpg);background-size: cover;" class="panel-widget-style">
                                                        <article class="text clearfix "></article>

                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>


                                <div class="panel-grid" id="pg-72-4" style="width: 1263px; margin-left: -31.5px; margin-right: -31.5px;">
                                    <div class="row">
                                        <div class="col-md-6 pull-left" style="min-height:420px;background-image: url(/Assets/images/content_big_01.jpg);background-size: cover;">
                                            @*<div class="so-panel widget widget_vr_text panel-first-child panel-last-child" id="panel-72-4-0-0">
                                                    <div style="min-height:420px;background-image: url(/Assets/images/content_big_01.jpg);background-size: cover;" class="panel-widget-style">
                                                        <article class="text clearfix "></article>

                                                    </div>
                                                </div>*@
                                        </div>
                                        <div class="col-md-6 pull-right">
                                            <div class="so-panel widget widget_vr_text panel-first-child panel-last-child" id="panel-72-4-1-0">
                                                    <article class="text clearfix fadeInRight fx-end" data-animation="fadeInRight">
                                                    <article class="text clearfix " style="max-width:560px;float:left;padding: 60px 40px 0 40px;">
                                                        <h3 class="widget-title-big">Company Achievement</h3>
                                                        <p style="font-size:small">It is our Achievement that We Completed various projects like Hospiatal Management System, School Management System, Point of Sale and various other Business Solutions for our customers and achieve Customer's satisfaction and Goodwill.</p><br>
                                                    </article>
                                                </article>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end .entry-content -->

                    </article>
                    <!-- end #post-## -->


                </main>
                <!-- end #main -->
            </div>
            <!-- end #primary -->


        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.current_page_item').removeClass('.current_page_item');
        $('#about').addClass('current_page_item');
    </script>
}