
@{
    ViewBag.Title = "Services";
}



<div id="branding" class="light" style="background-image: url(/Assets/images/slider-main-bg.jpg);">
    <div class="container fx clearifx">

        <!-- begin .title-header -->
        <div class="title-header">

        </div>
        <!-- end .title-header -->
        <!-- begin .breadcrumb -->
        <!-- end .breadcrumb -->

    </div>
</div>

<div class="sticky-start"></div>

<div id="content" class="site-content content-builder" style="overflow:hidden">
    <div class="container">
        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <img src="~/Assets/images/webDevelopment1.png" />
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <h2>Web Development</h2>
                <div class="lines"></div>
                <p>We specialize in providing web development and design services for its clients. We combine our web development technologies with professional design, creating a unique output every time, every client. Our unique blend of strategy, technology and creative implementation allows us to provide our clients solutions on time and within budget.</p>
            </div>
        </div>
        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <h2>Web Designing</h2>
                <div class="lines"></div>
                <p>Our Design Team sketch up a Business Models & Custom Designs for Clients Satisfaction. Every client always Wish to view what will be final results so we provide final results before any projects. Project Mapping is Very necessary before We Commit any deals. Once our designing team gathers your requirement, we provide a mockup of the website which is approved by the customer before the actual website designing is started.</p>
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <img src="~/Assets/images/webDesigning.png" />
            </div>
        </div>

        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <img src="~/Assets/images/aspnet-development.png" />
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <h2>ASP.Net </h2>
                <div class="lines"></div>
                <p>
                    With the many ASP.NET Website Development companies out there today, we are proud to say that we are an up and coming company who can compete. With this, our clients are reassured of our abilities and skills in working with the website development programs they need.
                    <br />
                    <br />
                    As our main focus when it comes to ASP.NET Website Development is cost-effectiveness, we promise to deliver only the best for each client. We make sure every service is tailor-made to meet individual client demands. We know you are looking for more cost-effective ways of joining the bandwagon of those who have jumped in with ASP.NET Website Development and we are here to give that.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <h2>PHP Development</h2>
                <div class="lines"></div>
                <p>
                    As a company specializing in providing PHP Web Development Services, we have been known to provide only high quality services across the globe. We have accomplished successful projects with regards to all kinds and types of PHP Website Development. We have pleased all our previous clients as we strive for excellence, efficiency, and affordability.
                    <br />
                    <br />
                    To serve our clients’ exact needs, we provide customization services to ensure we meet each client demand with excellence. Our PHP Web Development Services include website solutions for both old and new ones that can be based on different platforms and databases.
                </p>
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <img src="~/Assets/images/php-development.png" />
            </div>
        </div>

        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <img src="~/Assets/images/cross-platform-development.png" />
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <h2>Cross Platform App</h2>
                <div class="lines"></div>
                <p>Wisconsys Software Technologies providing the services of Cross Platform Application Development. Cross-platform application development implies writing once and deploying to multiple platforms. Our Application developers can monetize better by taking advantage of development tools that favor cross-platform design and development. Android* and iOS* are two mobile application development platforms that most app developers want to have their applications run on. The architecture of the software stack and the hardware capabilities of the devices running on the two different platforms pose challenges to cross-platform application development. HTML5 is one technology that makes cross-platform application development easy while providing portability to the different platforms.</p>
            </div>
        </div>
        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <h2>Mobile Application Development</h2>
                <div class="lines"></div>
                <p>Wisconsys Technologies sophisticated Moblie Application development and Business Solutions bring you peace of mind while we handle everything for you using our client-focused Solutions and Services.</p>
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <img src="~/Assets/images/mobile-app-development.png" style="height:375px;width:100%" />
            </div>
        </div>
      
        <div class="row">
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInLeft">
                <img src="~/Assets/images/SEO.png" />
            </div>
            <div class="feature-list column-equal col-sm-6 col-md-6 fx-start" data-animation="fadeInRight">
                <h2>SEO</h2>
                <div class="lines"></div>
                <p>We specialize in boosting search rankings, and increasing leads and sales for large and small businesses. We take an individualized approach to each business because one size does not fit all with online marketing. Whatever your business needs are, we will work closely with you to determine the strategies that lead to real, online success. At SEO.com, we offer a complete package of effective services that we can adapt to your company’s needs. We have years of experience adapting to search engine updates and algorithm changes.</p>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#services').addClass('current_page_item')
    </script>
}